.comment {
    padding: .5rem;
    border: 1px solid hsl(235, 100%, 90%);
    border-radius: .5rem;
  }

.comment .header {
    color: hsl(235, 50%, 67%);
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
  }
  
  .comment .header .name {
    font-weight: bold;
  }
  
  .comment .content {
    white-space: pre-wrap;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .comment .footer {
    display: flex;
    gap: .5rem;
    margin-top: .5rem;
  }